<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
   <!-- <a class="navbar-brand" th:href="@{/employees}">
      Logo
    </a>-->
    <!--    <div class="logo">-->
    <!--        <a th:if="${business.logoUrl}" th:href="@{/}">-->
    <!--            <img th:src="${business.logoUrl}" alt="Logo">-->
    <!--        </a>-->
    <!--        <a th:unless="${business.logoUrl}" th:href="@{/}">Business World</a>-->
    <!--    </div>-->
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/employees}">List des employés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/employees/add}">Créer un employé</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

</body>
</html>