<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Employee</title>
    <link rel="stylesheet" th:href="@{/style.css}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="/index"></div>
<h1>Add Employee</h1>
 <!-- <div class="form-page" style="display: block;"> -->
    <form th:object="${employee}" th:action="@{/employees/add}" method="post" enctype="multipart/form-data">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required/>
        <br/>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required/>
        <br/>

        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" required pattern="yyyy-MM-dd"/>
        <br/>

        <label for="sex">Sex:</label>
        <select id="sex" th:field="*{sex}" required>
            <option th:each="sexOption : ${sexOptions}"
                    th:value="${sexOption}"
                    th:text="${sexOption.name()}">
            </option>
        </select>
        <br/>

        <label for="registrationNbr">Registration Number:</label>
        <input type="text" id="registrationNbr" th:field="*{registrationNbr}" required>
        <br/>

          <p style="color: red" th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></p>

        <label for="phoneNbr">Phone Number:</label>
        <input type="text" id="phoneNbr" th:field="*{phoneNbr}" required>
        <br/>

        <label for="address">Address:</label>
        <input type="text" id="address" th:field="*{address}" required>
        <br/>

        <label for="photo">Identity Photo:</label>
        <input type="file" id="photo" name="photo" th:field="*{photo}">
        <br/>

        <label for="beggingDate">Hiring Date:</label>
          <input type="date" id="beggingDate" th:field="*{beggingDate}" required pattern="yyyy-MM-dd"/>
        <br/>

       <label for="outDate">Departure Date:</label>
        <input type="date" id="outDate" th:field="*{outDate}" pattern="yyyy-MM-dd"/>
        <br/>

        <label for="emailPerso">Personal Email:</label>
        <input type="email" id="emailPerso" th:field="*{emailPerso}" required>
        <br/>

        <label for="emailPro">Professional Email:</label>
        <input type="email" id="emailPro" th:field="*{emailPro}" required>
        <br/>

        <label for="nbrChildren">Number of Children:</label>
        <input type="number" id="nbrChildren" th:field="*{nbrChildren}" required>
        <br/>

        <label for="socioPro">Socio-Professional Category:</label>
        <select id="socioPro" th:field="*{socioPro}" required>
            <option value="">-- Select Socio-Professional Category --</option>
            <option th:each="socioProOption : ${suggestedSocioProOptions}"
                    th:value="${socioProOption.id}"
                    th:text="${socioProOption.categories}">
            </option>
        </select>
        <br/>


        <label for="cin">National Card:</label>
        <input type="text" id="cin" th:field="*{cinNumber}" required>
        <br/>

        <p style="color: red" th:if="${cnapsError}" class="cinError" th:text="${cnapsError}"></p>

        <label for="cinPlace">National Card Place:</label>
        <input type="text" id="cinPlace" th:field="*{cinPlace}" required>
        <br/>

        <label for="cinDate">National Card Date:</label>
        <input type="date" id="cinDate" th:field="*{cinDate}" pattern="yyyy-MM-dd"/>
        <br/>

        <label>Posts:</label>
        <div th:each="post : ${suggestedPostProOptions}">
            <input type="checkbox" th:field="*{postsList}" th:value="*{id}" id="${post.id}">
            <label th:for="*{id}" th:text="${post.nameOfPost}"></label>
        </div>
        <br/>


        <label for="nbrCnaps">CNAPS Number:</label>
        <input type="text" id="nbrCnaps" th:field="*{nbrCnaps}" required>
        <br/>

        <button type="submit">Add</button>
    </form>

</body>
<script>
    const postsList = document.getElementById("postsList");
    postsList.addEventListener("change", function() {
        if (this.selectedOptions.length > 1) {
            this.setAttribute("multiple", "multiple");
        } else {
            this.removeAttribute("multiple");
        }
    });
  /*function showPage(pageNumber) {
    const pages = document.querySelectorAll('.form-page');
    for (let i = 0; i < pages.length; i++) {
      pages[i].style.display = i === pageNumber ? 'block' : 'none';
    }
  }

  function nextPage() {
    showPage(1);
  }

  function prevPage() {
    showPage(0);
  }*/
</script>
</html>