<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" th:href="@{/style.css}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header"></div>
<h1>Employee List</h1>
<a href="/employees/export-csv" class="export-link">Export as CSV</a>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Registration Number</th>
        <th>Details</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.dateOfBirth}"></td>
        <td th:text="${employee.registrationNbr}" ></td>
        <td>
            <a th:href="@{'/employees/' + ${employee.id}}">Infos</a>
        </td>
    </tr>
</table>
</body>
</html>