<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header"></div>
<h1>Update Employee</h1>
<form th:object="${employee}" th:action="@{/employees/update}" method="post" enctype="multipart/form-data">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:text="*{firstName}" th:field="*{firstName}" />
    <br/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" />
    <br/>

    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}"  pattern="yyyy-MM-dd"/>
    <br/>

    <label for="sex">Sex:</label>
    <select id="sex" th:field="*{sex}" >
        <option th:each="sexOption : ${sexOptions}"
                th:value="${sexOption}"
                th:text="${sexOption.name()}">
        </option>
    </select>
    <br/>

    <label for="registrationNbr">Registration Number:</label>
    <input type="text" id="registrationNbr" th:field="*{registrationNbr}" >
    <br/>

    <p th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></p>

    <label for="phoneNbr">Phone Number:</label>
    <input type="text" id="phoneNbr" th:field="*{phoneNbr}" >
    <br/>

    <label for="address">Address:</label>
    <input type="text" id="address" th:field="*{address}" >
    <br/>

    <label for="photo">Identity Photo:</label>
    <input type="file" id="photo" name="photo" th:field="*{photo}">
    <br/>

    <label for="beggingDate">Hiring Date:</label>
    <input type="date" id="beggingDate" th:field="*{beggingDate}"  pattern="yyyy-MM-dd"/>
    <br/>

    <label for="outDate">Departure Date:</label>
    <input type="date" id="outDate" th:field="*{outDate}" pattern="yyyy-MM-dd"/>
    <br/>

    <label for="emailPerso">Personal Email:</label>
    <input type="email" id="emailPerso" th:field="*{emailPerso}" >
    <br/>

    <label for="emailPro">Professional Email:</label>
    <input type="email" id="emailPro" th:field="*{emailPro}" >
    <br/>

    <label for="nbrChildren">Number of Children:</label>
    <input type="number" id="nbrChildren" th:field="*{nbrChildren}" >
    <br/>

    <label for="socioPro">Socio-Professional Category:</label>
    <select id="socioPro" th:field="*{socioPro}" >
        <option value="">-- Select Socio-Professional Category --</option>
        <option th:each="socioProOption : ${suggestedSocioProOptions}"
                th:value="${socioProOption.categories}"
                th:text="${socioProOption.categories}">
        </option>
    </select>
    <br/>


    <label for="cin">National Card:</label>
    <input type="text" id="cin" th:field="*{cinNumber}" >
    <br/>

    <p style="color: red" th:if="${cinAlphanumericError}" class="cinError" th:text="${cinAlphanumericError}"></p>

    <label for="cinPlace">National Card Place:</label>
    <input type="text" id="cinPlace" th:field="*{cinPlace}" >
    <br/>

    <label for="cinDate">National Card Date:</label>
    <input type="date" id="cinDate" th:field="*{cinDate}" pattern="yyyy-MM-dd"/>
    <br/>

    <label>Posts:</label>
    <div class="check-box" th:each="post : ${suggestedPostProOptions}">
        <label th:for="*{id}" th:text="${post.nameOfPost}"></label>
        <input type="checkbox" th:field="*{postsList}" th:value="*{id}" id="${post.id}">
    </div>
    <br/>


    <label for="nbrCnaps">CNAPS Number:</label>
    <input type="text" id="nbrCnaps" th:field="*{nbrCnaps}" >
    <br/>
    <p style="color: red" th:if="${cnapsError}" class="cinError" th:text="${cnapsError}"></p>

    <button type="submit">Update</button>
</form>
</body>
</html>
