<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Employee</title>
  <link rel="stylesheet" th:href="@{/style.css}" >

</head>
<body>
<h1>Add Employee</h1>
<form th:object="${employee}" th:action="@{/employees/add}" method="post" enctype="multipart/form-data">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" th:field="*{firstName}" required/>
  <br/>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" th:field="*{lastName}" required/>
  <br/>

  <label for="dateOfBirth">Date of Birth:</label>
  <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" required pattern="yyyy-MM-dd"/>
  <br/>

  <label for="registrationNbr">Registration Number:</label>
  <input type="text" id="registrationNbr" th:field="*{registrationNbr}" required>
  <br/>

  <label for="image">Identity Photo:</label>
  <input type="file" id="image" name="photo" th:field="*{image}">
  <br/>

  <button type="submit">Add</button>
</form>
</body>
</html>